.contact-us {
    background: url("../../img/contacts/contact-form-bg.jpg");

    background:
            image-set(
                    url("../../img/contacts/contact-form-bg.jpg") 1x,
                    url("../../img/contacts/contact-form-bg@2x.jpg") 2x)
            center center/cover no-repeat;
    padding: 152px 0;
}

.form-contact {
    max-width: 445px;
    width: 100%;
    margin: 0 auto;
}

.contact-title {
    font-family: var(--font-accent);
    color: var(--accent);
    font-size: clamp(2.5rem, 1.818rem + 3.41vw, 4.375rem);
    font-weight: bold;
    text-align: start;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.contact-input {
}

.contact-input label {
    display: block;
    cursor: auto;
    font-weight: bold;

}

.contact-input label + input + label {
    margin-top: 30px;
}

.contact-input textarea {
    width: 100%;
    min-height: 195px;
    line-height: 150%;
    margin: 4px 0 30px;
    border: none;
    outline: none;
    resize: none;
}

.contact-input input {
    border-bottom: 1px solid #979797;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 10px;
}

